name: madari_client
description: "Madari Media Manager"
publish_to: 'none'
version: 1.0.2+4
environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  json_annotation: ^4.9.0
  matomo_tracker: ^5.1.0
  http: ^1.2.2
  cached_network_image: ^3.4.1
  google_fonts: ^6.2.1
  path: ^1.9.0
  path_provider: ^2.1.5
  rxdart: ^0.28.0
  pocketbase: ^0.19.1
  media_kit:
    git:
      url: https://github.com/media-kit/media-kit
      path: media_kit
      ref: 652c49e02701bb6bb80953a6fdf650a5c8f002f9
  media_kit_video:
    git:
      url: https://github.com/media-kit/media-kit
      path: media_kit_video
      ref: 652c49e02701bb6bb80953a6fdf650a5c8f002f9
  media_kit_libs_video: ^1.0.5
  cached_query: ^2.2.1
  cached_query_flutter: ^2.5.1
  cached_storage: ^2.0.14
  provider: ^6.1.2
  flutter_riverpod: ^2.6.1
  riverpod_annotation: ^2.6.1
  shared_preferences: ^2.3.3
  flutter_markdown: ^0.7.4+3
  url_launcher: ^6.3.1
  shimmer: ^3.0.0
  image_picker: ^1.1.2
  go_router: ^14.6.2
  country_code_picker: ^3.1.0
  flutter_dotenv: ^5.2.1
  intl: ^0.20.1
  simple_animations: ^5.0.0+3
  pdfrx: ^1.0.93
  photo_view: ^0.15.0
  window_manager: ^0.4.2
  background_downloader: ^8.8.0
  file_picker: ^8.1.4
  flutter_inappwebview: ^6.1.5
  drift: ^2.22.1
  drift_flutter: ^0.1.0
  fetch_client: ^1.1.2
  cast: ^2.1.0
  permission_handler: ^11.3.1
  android_intent_plus: ^5.2.1
  external_app_launcher: ^4.0.1

dependency_overrides:
  media_kit:
    git:
      url: https://github.com/media-kit/media-kit
      path: media_kit
      ref: 652c49e02701bb6bb80953a6fdf650a5c8f002f9

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  custom_lint: ^0.7.0
  riverpod_lint: ^2.6.3
  drift_dev: ^2.22.0
  build_runner: ^2.4.13
  json_serializable: ^6.8.0
  flutter_launcher_icons: 0.13.0
  riverpod_generator: ^2.6.3

flutter:
  uses-material-design: true
  assets:
    - .env
    - assets/
    - assets/data/

flutter_icons:
  image_path: "assets/icon/icon_new.jpg"
  android: "launcher_icon"
  min_sdk_android: 21
  ios:
    generate: true
    remove_alpha_ios: true
  web:
    generate: true
    background_color: "#000"
    theme_color: "#000"
    image_path: "assets/icon/icon_mini.png"
  windows:
    generate: true
    icon_size: 48 # min:48, max:256, default: 48
  macos:
    generate: true
    remove_alpha_ios: true
